/* Web font */
@font-face {
    font-family: 'cantarellregular';
    src: url('./fonts/1/cantarell-regular-webfont.woff2') format('woff2'),
         url('./fonts/1/cantarell-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('./fonts/2/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('./fonts/2/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* General setup */
html {
  font-size: 10px;
  margin: 0;
  font-family: 'cantarellregular', sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */
h1 {
  font-size: 3.2rem;
  font-family: 'kaushan_scriptregular';
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}