* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h1 {
  text-align: center;
}

.container table {
  flex-grow: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.container th,
.container td {
  border: 1px solid black;
  text-align: center;
}

.item-row .btn {
  width: 20px;
}

.item-row .btn:hover{
  cursor: pointer;
}
