* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  width: 95%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
}

/* main */
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    ". header ."
    ". section ."
    ". footer .";
  gap: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
.header {
  grid-area: header;
  background: url("素材/starfield-banner.jpg ");
  display: flex;
  align-items: flex-start;
}

.header .logo {
  width: 110px;
  margin-top: 20px;
}

.nav {
  flex-grow: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px 20px 0 0;
}

.main-nav {
  margin: 20px 0 10px 0;
}

.main-nav li {
  display: inline-block;
  font-size: 16px;
  padding: 8px;
  border-right: 1.4px solid #aaa;
}

.main-nav li:last-child {
  border: none;
  padding-right: 0;
}

.sub-nav {
  background-color: #555555;
}

.sub-nav li {
  display: inline-block;
  box-sizing: border-box;
  font-size: 13px;
  padding: 2px;
  border-right: 1px solid #aaa;
}

.sub-nav li:last-child {
  border: none;
}

.search {
  display: flex;
  margin-top: 45px;
}

form {
  display: inline-block;
  position: relative;
  width: 160px;
  margin: 0 auto;
}

input,
button {
  border: none;
  outline: none;
}

input {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  background-color: #333;
  color: #717171;
  padding: 8px;
}

button {
  font-family: "iconfont";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  background-color: transparent;
  color: white;
}

button:hover,
.photo-icon:hover,
.share-icon:hover {
  cursor: pointer;
}

.navi-bar li:hover {
  cursor: pointer;
}

.photo-icon,
.share-icon {
  font-family: "iconfont";
  display: inline-block;
  font-size: 30px;
  color: white;
}

/* section */
.content-grid {
  grid-area: section;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(4, 280px) 1fr;
  grid-template-areas:
    "story1 story1 story2 story3"
    "story1 story1 story4 story4"
    "story5 story6 story6 story7"
    "story8 story9 story10 story11"
    "more more more more";
  gap: 10px;
}

.story-box {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

.story-box:hover {
  border: 2px solid white;
}

.pic-title {
  align-self: flex-start;
  padding: 4px;
  background-color: #45709add;
}

.pic-banner {
  padding: 2px;
  background-color: #ffffffcc;
  font-size: 0.9rem;
}

.story-box-1 {
  grid-area: story1;
  background: url(./images/pia21924-16.jpg) no-repeat center;
}

.story-box-2 {
  grid-area: story2;
  background: url(./images/mollweide_cycle.jpg) no-repeat center;
}

.story-box-3 {
  grid-area: story3;
  box-sizing: border-box;
  padding: 10px;
  background: #45709a;
  color: white;
  font-size: 0.7rem;
  justify-content: flex-start;
}

.box-header {
  font-size: 0.9rem;
  border-bottom: 1px solid white;
}

.box-footer {
  font-size: 0.6rem;
  border-top: 1px solid white;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
}

.story-box-4 {
  grid-area: story4;
  background: url(./images/s69-39961.jpg) no-repeat center;
  background-size: cover;
}
.story-box-5 {
  grid-area: story5;
  background: url(./images/ssc2017-14a1.jpg) no-repeat center;
  position: relative;
}
.photo-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}
.story-box-6 {
  grid-area: story6;
  background: url(./images/pia22556-16.gif) no-repeat center;
}
.story-box-7 {
  grid-area: story7;
  background: black;
}
.story-box-8 {
  grid-area: story8;
  background: url(./images/nasa_logo.png) no-repeat center;
}
.story-box-9 {
  grid-area: story9;
  background: url(./images/io-home.gif) no-repeat center;
  position: relative;
}
.story-box-10 {
  grid-area: story10;
  background: url(./images/cassini20170809.jpg) no-repeat center;
}
.story-box-11 {
  grid-area: story11;
  background: url(./images/fermiicecube_as.jpg) no-repeat center;
}

.more-stories {
  grid-area: more;
  background: #1d4288;
  padding: 8px 0;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.more-stories:hover {
  cursor: pointer;
}

/* footer */
.footer {
  grid-area: footer;
  color: white;
}

.footer .logo {
  width: 90px;
  float: left;
}

.footer ul {
  clear: left;
  float: right;
}

.footer li {
  display: inline-block;
  color: #6385ba;
  margin: 10px;
}

.footer li:hover {
  cursor: pointer;
  background: #ffffff33;
}

@media (min-width: 1370px) {
  .content-grid {
    grid-template-columns: repeat(4, 320px);
    grid-template-rows: repeat(4, 320px) 1fr;
  }

  .main-navi-bar li {
    font-size: 18px;
  }

  .sub-navi-bar li {
    font-size: 12px;
  }

  form {
    width: 200px;
  }

  input {
    height: 42px;
  }

  button {
    font-size: 42px;
  }
  .photo-icon,
  .share-icon {
    font-size: 42px;
  }

  .pic-banner {
    padding: 4px;
    font-size: 1rem;
  }

  .box-footer {
    font-size: 0.8rem;
  }
}
