body {
  background-color: black;
  width: 95%;
  margin: auto;
}

ul,
li {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
}

.header {
  background: url("素材/starfield-banner.jpg ");
  position: fixed;
  width: 95%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.header .logo-link {
  padding: 10px;
}

.header .logo {
  width: 110px;
  margin: 11px;
}

.main-navi-bar {
  float: right;
}

.main-navi-bar ul {
  margin-block-start: 20px;
  margin-block-end: 20px;
}

.main-navi-bar li {
  display: inline-block;
  font-size: 24px;
  padding: 10px;
  border-right: 1.4px solid #aaa;
}

.main-navi-bar ul li:last-child {
  border: none;
}

.sub-navi-bar {
  float: right;
  background-color: #555555;
}

.sub-navi-bar {
  padding: 10px;
}

.sub-navi-bar li {
  display: inline-block;
  font-size: 18px;
  padding: 4px;
  border-right: 1px solid #aaa;
}

.sub-navi-bar ul li:last-child {
  border: none;
}
